<footer class="py-5 bg-danger" style="height: 49vh;">
    <div class="container-fluid">
        <!-- Contenedor para el texto y los iconos -->
        <div class="row justify-content-center text-center text-white">
            <!-- Texto principal -->
            <div class="col-12">
                <p class="m-0 fw-bolder">
                    Cabrera Automotores
                </p>
            </div>
            <!-- Dirección -->
            <div class="col-12 mt-2">
                <p>
                    <i class="fas fa-map-marker-alt"></i> Avenida Sarmiento 1845 <br> San Pedro - Buenos Aires
                </p>
            </div>
            <!-- Enlaces de WhatsApp -->
            <div class="col-12 mt-3">
                <div class="d-flex flex-column align-items-center">
                    <a href="https://wa.me/3329663824" target="_blank" class="text-white mb-2">
                        <i class="fab fa-whatsapp fa-sm"></i> 3329-663824
                    </a>
                    <a href="https://wa.me/3329518432" target="_blank" class="text-white">
                        <i class="fab fa-whatsapp fa-sm"></i> 3329-518432
                    </a>    
                </div>
                <p class="m-5">&copy; Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>
