{% extends 'Home/base.html' %}

{% block CONTENIDO %}
<div class="container mt-5">
    <h2 class="text-center">Sobre Nosotros</h2>
    <p class="text-center">Bienvenidos a <strong>Cabrera Automotores</strong>, una empresa familiar con más de 15 años de trayectoria en el sector automotriz. En <strong>Cabrera Automotores</strong>, proporcionamos oportunidades de negocios convirtiendo cada compra en una experiencia gratificante.
        A lo largo de los años, hemos establecido sólidas relaciones con nuestros clientes gracias a nuestra dedicación y compromiso en proporcionarles los mejores autos del mercado. Nuestra empresa se enorgullece de ofrecer no solo vehículos, sino también confianza y valor en cada transacción.</p>
    <h2 class="text-center">Porque elegirnos</h2>
    <p class="text-center">
        <strong>Experiencia y Confianza:</strong> Con más de 15 años en el mercado, hemos ganado la confianza de nuestros clientes a través de nuestra experiencia y profesionalismo.
</div>
{% endblock %}
